
body .app{
  
  background-color: #f5f5f5;
  height: 100vh;
  width: 100%;
  margin: auto;
  border: 1px solid grey;
  box-shadow: 0 0 6px black;
}
body{
  background-color: #607D8B;
}

.app{
  width: 100% !important;
}

.life{
  text-align: right;
  padding-right: 30px;
  .cora{
    width:20px;
    height:20px;
  }
}


.nums{ 
  padding: 40px 0;
  margin-left: 5px !important;
  margin-top: 20px;
  border: 3px solid black;
  transition: all 0.3s linear;
  border-radius: 10px;
  border-bottom-right-radius: 25px; 
  border-top-left-radius: 25px; 
}
.cont{
  border:0px solid black;
  text-align: center;
}

.content-1{
  padding-top:30px;
}

.cont-progres{
  position: absolute;
  top:90%;
  margin-top:20px;;
  text-align: center;
}
.progress-bar{
  width: 0%;
}

.showTime{
  border: 0px solid black;
}


.progress-striped{
  height: 15px ;
}

.content-2{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  text-align:center;

}

@media (min-width: 500px) {
  .app{
      width: 500px !important;
  }
}